.heading-container {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #1657a4;
    /* position: sticky; */
    width: 100%;
}


.heading-left-section {
    display: flex;
    gap: 1rem;
}

.heading-left-section img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: green;
}


.user-box {
    display: flex;
    gap: 1rem;
}

.heading-left-section .user-info {
    display: flex;
    flex-direction: column;
    color: white;
}

.heading-right-section {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.heading-right-section img {
    height: 2rem;
}

.lang-selector-container {
    margin-left: auto;
}

.lang-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.language-dd-list {
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    font-size: inherit;
    margin-left: 2rem;
    position: absolute;
    z-index: 10;
}

.lang-selector-img {
    height: 1rem;
    border-radius: 2px;
}

.lang-selector-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.sidebar-main {
    display: flex;
    height: 89vh;
}

.sidebar-menu-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: fit-content;
    position: relative;
    min-height: 89vh;
    box-shadow: 3px 3px 3px rgb(238, 236, 236);
}

.sidebar-menu-box h2 {
    border-bottom: 1px solid green;
    text-align: center;
}


.sidebar-navigation-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-navigation-items a {
    text-decoration: none;
    color: black;
}

.nav-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.sidebar-burger-menu {
    display: none;
    cursor: pointer;
}

.outlet {
    padding: 1rem;
    background-color: whitesmoke;
    flex: 1;
    min-height: 89vh;
    overflow-y: scroll;
}



@media screen and (max-width: 1200px) {
    .user-box {
        display: none;
    }

    .sidebar-burger-menu {
        display: block;
    }

    .sidebar-menu-box {
        display: none;
    }

    .sidebar-menu-list {
        display: flex;
        position: absolute;
        z-index: 13;
        background-color: white;
    }
}

@media screen and (max-width: 465px) {}