services:
  db:
    image: postgres:17.4
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env


  backend:
    build: ./backend
    container_name: backend
    command: gunicorn JBBL.wsgi:application --bind 0.0.0.0:8000 --workers 1 --timeout 1000

    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: sh -c "npm install --legacy-peer-deps && npm run build"
    volumes:
      - ./frontend:/frontend
      - ./frontend/dist:/frontend/dist
    env_file:
      - ./frontend/.env
  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx-setup.conf:/etc/nginx/conf.d/default.conf:ro
      - ./frontend/dist:/var/www/client:ro
    depends_on:
      - backend
volumes:
  postgres_data:

