.background-img {
  width: 100%;
  min-height: 100%;
  position: fixed;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.navigation-container {
  width: 100%;
  position: relative;
  z-index: 10;
  font-weight: 600;
  /* align-items: center; */
  /* justify-content: center; */
}

.navigation-header {
  padding-top: 2.5rem;
  width: 75%;
  margin: auto;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navigation-menu-bar {
  display: flex;
  align-items: center;
}

.right-section-nav {
  display: flex;
  /* gap: 2rem;
    margin-left: auto; */
  align-items: center;
  margin-right: 1rem;
  line-height: 18px;
}

.right-section-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

.navigation-item {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  line-height: 18px;
}
.logo-box {
  display: block;
}
.logo {
  height: 2rem;
  margin-top: -0.5rem;
  max-width: 100%;
}

.lang-selector-container {
  margin-left: auto;
}

.lang-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
    font-weight: 600;
  font-size: 1.125rem;
  position: relative;
}

.language-dd-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  gap: 1rem;
  font-weight: 600;
  font-size: inherit;
  position: absolute;
  z-index: 10;
  box-shadow: 0 10px 15px -3px rgba(17, 17, 17, 0.7),
    0 4px 6px -4px rgba(34, 34, 34, 0.7);
}

.lang-selector-img {
  height: 1rem;
  border-radius: 2px;
}

.lang-selector-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1290px) {
  .burger-menu {
    display: block;
    color: white;
    width: 40px;
    height: 25px;
    cursor: pointer;
    position: relative;
  }

  .right-section-nav {
    display: none;
  }

  .nav-list {
    margin-top: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    width: 19rem;
    left: 0;
    position: absolute;
  }

  .nav-list .navigation-item {
    color: black;
    padding: 1rem 3rem;
    width: 100%;
  }

  .navigation-item:hover {
    background-color: skyblue;
  }

  .logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navigation-header {
    width: 100%;
  }

  .nav-list {
    width: 13rem;
  }
  
  .nav-list .navigation-item {
    padding: 1rem 2rem;

    font-size: 1rem;
  }
}
