.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.login-form-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: max(40px, calc(50svh - 235px - 23px - 69px));
    margin-bottom: 30px;

}

.form-box{
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 570px;
    background-color: white;
    padding: 2rem 2rem 3rem;
}

.login-form {
    padding: 2rem;
    width: 100%;
    border-radius: 10px;
}

.login-form h2 {
    color: red;
    font-size: 3rem;
    line-height: 2;
    font-weight: 700;
    text-align: center;
}

.login-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-section label{
    font-weight: 500;
}

.login-email {
    display: flex;
    flex-direction: column;
}

.login-email input {
    height: 3.5rem;
    border: 1px solid gray;
    padding-left: 1rem;
    font-size: 1.2rem;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
}

.login-email input:focus{
    background-color: white;
    outline: none;
}

.password-input-div {
    border: 1px solid gray;
    height: 1.5rem;
    display: flex;
    align-items: center;
    height: 3.5rem;
    border-radius: 1.5rem;
    
}

.password-input-div input {
    border: none;
    padding-left: 1rem;
    outline: none;
    font-size: 1.2rem;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.password-input-div input:focus{
    background-color: white;

}


.password-input-div svg {
    margin-left: auto;
    margin-right: 0.5rem;
    cursor: pointer;
}

.login-button-div {
    display: flex;
    justify-content: center;
}

.login-button {
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: #07a31f;
    color: white;
    padding: 1rem 3.3rem;
    border: 1px solid white;
    border-radius: 20px;
}

.error-span {
    color: red;
    margin: -0.5rem 0;
}

.other-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    justify-content: space-between;
    width: 300px;
    text-align: center;
}

.other-links a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.footer-div {
    margin-top: auto;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 30;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-text-section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer-main-text {
    font-size: 2rem;
}

.footer-menu {
    margin-left: auto;
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
}

.footer-menu a {
    color: white;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.burger-menu {
    display: none;
}

@media (min-width: 1000px){
    .footer-div{
        padding-bottom: 20px;
    }
}

@media (max-width: 900px){
    .form-box{
        width: 80%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 675px) {

    .form-box{
        max-width: 100%;
        padding: 2rem 1rem 2rem;
    }
    .login-form h2{
        font-size: 2rem;
    }

    .footer-div {
        margin: 0 1rem;
    }

    .footer-text-section {
        flex-direction: column;
    }

    .footer-menu {
        margin-left: 0;

    }
}

@media screen and (max-width: 465px) {
    .footer-main-text {
        font-size: 1.2rem;
    }

    .footer-menu {
        gap: 1rem;
        font-size: 1rem;
    }

    .footer-copyright {
        font-size: 1rem;
    }

    .other-links{
        width: 80%;
    }

}