.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}



.login-form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.login-form {
    background-color: white;
    width: fit-content;
    padding: 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.login-form h2 {
    color: red;
    line-height: 2;
    text-align: center;
}

.login-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-email {
    display: flex;
    flex-direction: column;
}

.login-email input {
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.password-input-div {
    border: 1px solid gray;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 10px;
    height: 2.5rem;


}

.password-input-div input {
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.password-input-div svg {
    margin-left: auto;
    margin-right: 0.5rem;
    cursor: pointer;
}

.login-button-div {
    display: flex;
    justify-content: center;
}

.login-button {
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: rgb(14, 170, 14);
    color: white;
    padding: 1rem 3.3rem;
    border: 1px solid white;
    border-radius: 20px;
}

.other-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.other-links a {
    color: black;
    text-decoration: none;
}

.footer-div {
    color: white;
    margin: 0 5.5rem;
}

.footer-text-section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 0 0.5rem 1rem;
}

.footer-main-text {
    font-size: 2rem;
}

.footer-menu {
    margin-left: auto;
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
}

.footer-menu a {
    color: white;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.burger-menu {
    display: none;
}


@media screen and (max-width: 675px) {
    .footer-div {
        margin: 0 1rem;
    }

    .footer-text-section {
        flex-direction: column;
    }

    .footer-menu {
        margin-left: 0;

    }
}

@media screen and (max-width: 465px) {
    .footer-main-text {
        font-size: 1.2rem;
    }

    .footer-menu {
        gap: 1rem;
        font-size: 1rem;
    }

    .footer-copyright {
        font-size: 1rem;
    }

}