.price-list-header {
  display: flex;
  align-items: flex-start;
}

.price-list-header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-bar {
  border: 1px solid black;
  padding: 0.5rem 0.3rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  outline: none;
  border: none;
  background-color: whitesmoke;
}
.price-list-header-right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.price-list-table{
    /* display: grid;
    gap: 1rem; */
    margin-top: 2rem;  
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
}
.price-list-table-header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
}

.price-list-table-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
}

.price-list-table-row svg{
    grid-row: span 2;
}

@media screen and (max-width: 900px) {
  .plh-right-item span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .price-list-header {
    flex-direction: column;
    align-items: center;
  }

  .price-list-header-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 465px) {
}
