.price-list-header {
  display: flex;
  align-items: flex-start;
}

.price-list-header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-bar {
  border: 1px solid rgb(128, 192, 229);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar svg{
  color: rgb(128, 192, 229);
}

.search-bar input {
  outline: none;
  border: none;
  background-color: whitesmoke;
}
.price-list-header-right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.plh-right-item{
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px rgb(128, 192, 229);
}
.price-list-body {
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 30px;
  height: 79vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  box-shadow: 5px 5px 20px 10px rgb(128, 192, 229);
}

.price-list-table{
  width: 100%;
}

.price-list-table-header {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2rem;
  position: sticky;
  height: 3rem;
  background-color: white;
  top: 0;
  gap: 0.3rem;
  justify-items: start;
  align-items: center;
}

.pltb-row {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2rem;
  margin: 0.5rem 0;
  gap: 0.3rem;
  justify-items: start;
  align-items: center;
}

.pltb-row-item{
  border: 0.5px solid rgb(128, 192, 229);
  height: 2rem;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.pltb-row input {
  outline: none;
  border: none;
  width: 100%; 
  min-width: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
}
.options-wrapper{
  position: relative;
}

.options-menu{
  margin-right: auto;
  position: absolute;
  right: 0;
  background-color: white;
  width: 200px;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 1px 1px 1px 1px rgb(128, 192, 229);
}

.options-menu > div{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.confirmation-dialog{
  background-color: white;
  box-shadow: 1px 1px rgb(128, 192, 229);
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
}
.confirmation-buttons{
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
}

.confirmation-buttons button{
  padding: 0.3rem 0.5rem;
}

@media screen and (max-width: 900px) {
  .plh-right-item span {
    display: none;
  }

  .tab-remove{
    display: none;
  }

  .price-list-table-header, .pltb-row{
    grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr 2rem;
  }
}

@media screen and (max-width: 768px) {
  .price-list-header {
    flex-direction: column;
    align-items: center;
  }

  .price-list-header-right {
    margin-left: 0;
    margin-top: 1rem;
  }

  .mob-remove{
    display: none;
  }

  .price-list-table-header, .pltb-row{
    grid-template-columns: 2rem 1fr 1fr 2rem;
  }
}

@media screen and (max-width: 465px) {
}
