.terms-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.terms-content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-text-content {
  position: relative;
  text-align: center;
  background-color: white;
  width: 750px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 3em;
}

.terms-top-text {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-top-text h1 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.terms-close-button {
  font-size: 1.123em;
  background-color: rgb(8, 158, 30);
  color: white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  margin: 1rem 0;
  width: 35vw;
  min-width: max-content;
  max-width: 270px;
  cursor: pointer;
}

.terms-bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1590px) and (max-width: 1909px) and (orientation: landscape) {
  .terms-text-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 1290px) {
  .terms-content {
    width: 90%;
  }

  .terms-text-content {
    max-width: 100%;
    font-size: 15px;
  }
}

@media screen and (max-width: 465px) {
  .terms-content {
    width: 98%;
  }

  .terms-text-content {
    width: 100%;
  }
}
