.price-list-header {
  display: flex;
  align-items: flex-start;
}

.price-list-header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-bar {
  border: 1px solid black;
  padding: 0.5rem 0.3rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  outline: none;
  border: none;
  background-color: whitesmoke;
}
.price-list-header-right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.price-list-body{
    margin-top: 2rem;  
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
    height: 79vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; 
}

.price-list-table-header {
  position: sticky;
  height: 3rem;
  top: 0;
  z-index: 1;
  background-color: white;
}

.price-list-table-body{
  height: 100px;
}

.pltb-row input{
    height: 1.5rem;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgb(128, 192, 229);
    padding: 0.1rem 0.3rem;
}


@media screen and (max-width: 900px) {
  .plh-right-item span {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .price-list-header {
    flex-direction: column;
    align-items: center;
  }

  .price-list-header-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 465px) {
}
